.ContactDetails {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #aaa;
  box-sizing: border-box;
}

@media (min-width: 600px){
  .ContactDetails{
    width: 500px;
  }
}